<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="shortcut icon" href="/images/1673810680992.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets-users/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets-users/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/assets-users/img/logo.png" alt=""></a>
        </div> 
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>   
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <!-- <li><i class="fa fa-envelope"></i> hello@colorlib.com</li> -->
                <!-- <li>Free Shipping for all Order of $99</li> -->
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <!-- <li><i class="fa fa-envelope"></i> hello@colorlib.com</li> -->
                                <li>Belanja gratis diskon hingga of 99%</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <% if(email != null) {%>
                                <div class="header__top__right__auth">
                                    <a href="/logout"><i class="fa fa-user"></i><%= user.name %> </a>
                                </div>
                                <% }else{ %>  
                            <div class="header__top__right__auth">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tambah Ke Kranjang</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/transaction/add/user" method="post">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="harga" id="harga">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Jumlah</label>
                            <input type="text" class="form-control" name="jumlah" id="jumlah">
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn" style="background-color: #dbae33; color: white;">Tambah</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        <!-- end -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="/assets-users/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <% if(email == null){ %> 
                    <div class="header__cart">
                        <ul>
                            <!-- <li><a href="/register"><i class="fa fa-heart"></i> <span>0</span></a></li> -->
                            <li><a href="/login"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                        </ul>
                        <div class="header__cart__price">saldo: <span>0</span></div>
                    </div>
                    <% }else if(title != 'Padang Juara | Home'){ %>
                        <div class="header__cart">
                            <ul>
                            </ul>
                        </div>
    
                    <% }else{ %>
						<%   
						var bilangan = count; 
							if (bilangan === null){
								bilangan = 0         
									var	number_string = bilangan.toString(),
										sisa 	= number_string.length % 3,
										total   = number_string.substr(0, sisa),
										ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
											
									if (ribuan) {
										separator = sisa ? '.' : '';
										total += separator + ribuan.join('.');
								 
								}
							}else{
								bilangan = count         
									var	number_string = bilangan.toString(),
										sisa 	= number_string.length % 3,
										total   = number_string.substr(0, sisa),
										ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
											
									if (ribuan) {
										separator = sisa ? '.' : '';
										total += separator + ribuan.join('.');
								 
								}
							}
						
					%>    
						<div class="header__cart">
                            <ul>
                                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><%= countData %> </span></a></li>
                            </ul>
                            <div class="header__cart__price">saldo: <span>Rp<%= total %> </span></div>
                        </div>
				<%	} %>   
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>